/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* line 13, M:/Sites/9 itunes-istore/sass/media.sass */
  .centerMenu ul {
    text-align: left; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 19, M:/Sites/9 itunes-istore/sass/media.sass */
  .leftMenu {
    display: none; }
  /* line 21, M:/Sites/9 itunes-istore/sass/media.sass */
  .centerMenu {
    display: none; }
  /* line 23, M:/Sites/9 itunes-istore/sass/media.sass */
  .lineToggle {
    height: 50px;
    margin: 0;
    z-index: 1;
    background-color: #fff;
    text-align: center; }
    /* line 30, M:/Sites/9 itunes-istore/sass/media.sass */
    .lineToggle h2 {
      display: inline-block;
      font-size: 18px;
      line-height: 52px;
      margin: 0;
      color: #4e4e4e; }
  /* line 38, M:/Sites/9 itunes-istore/sass/media.sass */
  #togMenu {
    top: 50px;
    right: 0;
    height: auto;
    width: 100%;
    display: none;
    background: #fff;
    color: #999;
    margin: auto;
    text-align: left;
    z-index: 100;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s; }
    /* line 56, M:/Sites/9 itunes-istore/sass/media.sass */
    #togMenu ul {
      display: block;
      padding: 0px;
      margin: 0; }
      /* line 60, M:/Sites/9 itunes-istore/sass/media.sass */
      #togMenu ul li {
        display: block;
        position: relative;
        padding: 5px 0 0 10px;
        height: 50px;
        border-bottom: 1px solid #eee; }
        /* line 69, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li:first-child {
          border-top: 1px solid #eee; }
        /* line 71, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li img {
          width: 6vh;
          width: 40px;
          height: 40px;
          line-height: 50px;
          display: inline-block;
          margin: 0 10px 0 0; }
        /* line 80, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li a {
          display: inline-block;
          color: #4e4e4e; }
        /* line 85, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li.active a, #togMenu ul li:active a {
          color: #2677C5;
          text-decoration: none; }
        /* line 88, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li.active::after, #togMenu ul li:active::after {
          content: " ";
          position: absolute;
          display: block;
          width: 20px;
          height: 20px;
          background: url(../img/ico_check.svg) no-repeat;
          background-size: contain;
          top: 15px;
          right: 2vh; }
  /* line 101, M:/Sites/9 itunes-istore/sass/media.sass */
  #togMenu:after {
    display: none; }
  /* line 104, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton {
    display: block;
    width: 25px;
    height: 28px;
    position: absolute;
    z-index: 999;
    top: 26px;
    right: 15px;
    margin: 0; }
  /* line 115, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span:after,
  #toggleButton span:before {
    content: " ";
    position: absolute;
    left: 0;
    top: -5px; }
  /* line 121, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span:after {
    top: 5px; }
  /* line 124, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span {
    position: relative;
    display: block; }
  /* line 130, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span,
  #toggleButton span:after,
  #toggleButton span:before {
    width: 100%;
    height: 2px;
    line-height: 49px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px; }
  /* on activation */
  /* line 140, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on span {
    background-color: transparent; }
  /* line 143, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on span:before {
    transform: rotate(45deg) translate(2px, 2px); }
  /* line 146, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
    transform: rotate(-45deg) translate(5px, -5px); }
  /* line 150, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on + #togMenu {
    opacity: 1;
    visibility: visible;
    display: block; } }

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {
  /* line 162, M:/Sites/9 itunes-istore/sass/media.sass */
  section .squareAlbums li a {
    text-decoration-color: inherit; }
  /* line 164, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_margin {
    padding: 0 10px;
    margin: 20px auto 0px auto; }
  /* line 168, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 100%; }
    /* line 170, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .seeAll {
      top: 0px;
      right: 0px; }
      /* line 173, M:/Sites/9 itunes-istore/sass/media.sass */
      .music-content .seeAll .caret {
        display: inline-block; }
    /* line 176, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .h-title {
      position: static;
      display: block;
      margin: 0; }
    /* line 180, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .nav {
      margin-top: 15px; }
      /* line 183, M:/Sites/9 itunes-istore/sass/media.sass */
      .music-content .nav li:first-child {
        margin-left: 0px; }
  /* line 193, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .squareAlbums {
    white-space: normal; }
  /* line 196, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums {
    width: 100%; }
    /* line 199, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .seeAll {
      top: -2px; }
    /* line 201, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList {
      padding: 0;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between; }
      /* line 211, M:/Sites/9 itunes-istore/sass/media.sass */
      .littleSquareAlbums .lineList .lineList__column {
        width: 100%; }
        /* line 214, M:/Sites/9 itunes-istore/sass/media.sass */
        .littleSquareAlbums .lineList .lineList__column:first-child {
          display: inline-block; }
  /* line 225, M:/Sites/9 itunes-istore/sass/media.sass */
  .inlineCovers ul li {
    margin-right: 10px; }
  /* line 229, M:/Sites/9 itunes-istore/sass/media.sass */
  .SquareAlbums-wrapper .SquareAlbums-wrapper__title {
    margin: 0; }
  /* line 236, M:/Sites/9 itunes-istore/sass/media.sass */
  aside {
    display: none; }
  /* line 239, M:/Sites/9 itunes-istore/sass/media.sass */
  footer {
    margin: 0 auto;
    padding: 20px 15px 10px 15px;
    overflow-x: scroll;
    white-space: nowrap; }
    /* line 244, M:/Sites/9 itunes-istore/sass/media.sass */
    footer ul {
      display: inline-block;
      width: 50%;
      min-width: 200px;
      margin: 0 15px 5px 0; }
      /* line 255, M:/Sites/9 itunes-istore/sass/media.sass */
      footer ul li {
        margin: 0 5px 0 0; }
        /* line 258, M:/Sites/9 itunes-istore/sass/media.sass */
        footer ul li h2 {
          margin: 0; } }

@media only screen and (min-width: 480px) {
  /* line 264, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content .h-title {
    position: absolute;
    line-height: 1;
    top: 0;
    display: inline-block;
    margin: 0; }
  /* line 273, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content .nav li:first-child {
    margin-left: 130px; } }

@media only screen and (min-width: 580px) {
  /* line 280, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 46%; }
    /* line 283, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2) {
      display: inline-block; } }

@media only screen and (min-width: 768px) {
  /* line 290, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 30%; }
    /* line 292, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2), .littleSquareAlbums .lineList .lineList__column:nth-child(3) {
      display: inline-block; }
  /* line 295, M:/Sites/9 itunes-istore/sass/media.sass */
  footer {
    margin: 20px auto 0 auto; }
    /* line 297, M:/Sites/9 itunes-istore/sass/media.sass */
    footer ul {
      display: inline-block;
      width: 20%;
      height: auto;
      overflow-x: auto;
      overflow-y: auto;
      white-space: normal; }
      /* line 304, M:/Sites/9 itunes-istore/sass/media.sass */
      footer ul li {
        display: block; }
        /* line 306, M:/Sites/9 itunes-istore/sass/media.sass */
        footer ul li:first-child {
          margin-bottom: 5px; } }

@media only screen and (min-width: 1000px) {
  /* line 313, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item .buy-menu {
    display: none; }
  /* line 316, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item:hover .buy-menu {
    display: block; }
  /* line 322, M:/Sites/9 itunes-istore/sass/media.sass */
  .Carousel .owl-carousel .item img {
    height: 260px; }
  /* line 325, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_margin {
    padding: 0 15px;
    margin: 35px auto 0 auto; }
  /* line 329, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px; }
    /* line 334, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .nav {
      margin-top: 0; }
  /* line 341, M:/Sites/9 itunes-istore/sass/media.sass */
  aside {
    width: 24%;
    display: inline-block; }
  /* line 363, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content .tab-pane {
    margin-left: -20px; }
  /* line 385, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item .buy-menu {
    display: none; }
  /* line 388, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item:hover .buy-menu {
    display: block; }
  /* line 390, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style .album br, body.lightAlbum-style .album br {
    display: none; }
  /* line 393, M:/Sites/9 itunes-istore/sass/media.sass */
  .resultForSearch {
    padding-bottom: 5px;
    border-bottom: 1px solid #4e4e4e; }
  /* line 398, M:/Sites/9 itunes-istore/sass/media.sass */
  .searchStyles .tab-pane {
    display: block;
    outline: 1px solid red;
    text-align: center; }
  /* line 402, M:/Sites/9 itunes-istore/sass/media.sass */
  .searchStyles .nav-tabs {
    display: inline-block;
    display: none;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);
    border: 1px solid #1F66B1;
    border-radius: 5px;
    text-align: center; }
    /* line 413, M:/Sites/9 itunes-istore/sass/media.sass */
    .searchStyles .nav-tabs li a {
      padding: 5px; }
  /* line 417, M:/Sites/9 itunes-istore/sass/media.sass */
  footer {
    padding: 20px 15px 10px 15px; }
    /* line 419, M:/Sites/9 itunes-istore/sass/media.sass */
    footer ul {
      display: inline-block;
      width: 190px; } }

@media only screen and (min-width: 1200px) {
  /* line 424, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 80%; }
  /* line 427, M:/Sites/9 itunes-istore/sass/media.sass */
  aside {
    width: 19%; } }

@media only screen and (min-width: 1300px) {
  /* line 431, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 80%; }
  /* line 436, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 23%; }
    /* line 439, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2), .littleSquareAlbums .lineList .lineList__column:nth-child(3), .littleSquareAlbums .lineList .lineList__column:nth-child(4) {
      display: inline-block; } }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 445, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 446, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 449, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 452, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 456, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* Smartphones (landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 473, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 474, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 477, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 480, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 484, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 491, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 492, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 495, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 498, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 502, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 509, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 510, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 513, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 516, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 520, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* The New iPad (iPad 3) ----------- */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 527, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 528, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: inline-block; }
    /* line 531, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: inline-block; }
    /* line 534, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 538, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 545, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 546, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: inline-block; }
    /* line 549, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: inline-block; }
    /* line 552, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 556, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

@media only screen and (max-width: 1200px) {
  /* line 589, M:/Sites/9 itunes-istore/sass/media.sass */
  .artistTabInfo__artistbiography {
    display: block;
    width: 100%;
    margin: 20px auto 0 auto; }
  /* line 593, M:/Sites/9 itunes-istore/sass/media.sass */
  .artistTabInfo-sidebar {
    width: 100%;
    margin: 20px auto 0 auto;
    display: block; } }

@media only screen and (max-width: 1000px) {
  /* line 612, M:/Sites/9 itunes-istore/sass/media.sass */
  body.hiddenStyles {
    background: #fff; }
    /* line 614, M:/Sites/9 itunes-istore/sass/media.sass */
    body.hiddenStyles footer, body.hiddenStyles .music-container, body.hiddenStyles .Carousel {
      display: none; }
  /* line 619, M:/Sites/9 itunes-istore/sass/media.sass */
  .art #Songs > h3, .art #Songs p {
    display: none; }
  /* line 621, M:/Sites/9 itunes-istore/sass/media.sass */
  .art table {
    margin-top: 10px; }
    /* line 624, M:/Sites/9 itunes-istore/sass/media.sass */
    .art table tr:first-child {
      display: none; }
    /* line 626, M:/Sites/9 itunes-istore/sass/media.sass */
    .art table tr td {
      padding: 5px 0; }
      /* line 628, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(3), .art table tr td:nth-child(5) {
        display: none; }
      /* line 630, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(2) {
        width: 68%;
        padding-right: 5px; }
      /* line 633, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(3) {
        width: 10%; }
      /* line 635, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(4) {
        width: 20%; }
      /* line 637, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:last-child {
        text-align: right; }
  /* line 639, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style table .buy-menu, body.lightAlbum-style table .buy-menu {
    height: auto;
    padding: 3px 5px;
    width: auto;
    min-width: 90px; }
    /* line 644, M:/Sites/9 itunes-istore/sass/media.sass */
    body.darkAlbum-style table .buy-menu a, body.lightAlbum-style table .buy-menu a {
      width: auto;
      font-size: 16px;
      white-space: nowrap; }
  /* line 648, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .buy-menu {
    height: auto;
    padding: 2px 0; }
  /* line 651, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu, body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu, .buy-menu {
    display: inline-block;
    height: auto;
    padding: 3px 10px;
    width: auto;
    min-width: 80px; }
    /* line 657, M:/Sites/9 itunes-istore/sass/media.sass */
    body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu a, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu a, body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu a, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu a, .buy-menu a {
      width: auto;
      font-size: 16px;
      white-space: nowrap; }
  /* line 662, M:/Sites/9 itunes-istore/sass/media.sass */
  .lineList .buy-menu {
    top: 8px; }
    /* line 664, M:/Sites/9 itunes-istore/sass/media.sass */
    .lineList .buy-menu a {
      font-size: 16px; }
  /* line 667, M:/Sites/9 itunes-istore/sass/media.sass */
  .lineList .lineList__column .lineList__column__block {
    padding-right: 85px; }
  /* line 676, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList {
    display: block;
    width: 100%;
    height: 165px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
    /* line 683, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column {
      display: inline-block;
      margin: 0 15px 0 0;
      width: 270px; }
      /* line 688, M:/Sites/9 itunes-istore/sass/media.sass */
      .littleSquareAlbums .lineList .lineList__column:last-child {
        margin-right: 10px; }
  /* line 691, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .toSort {
    display: none; }
  /* line 693, M:/Sites/9 itunes-istore/sass/media.sass */
  .showText {
    display: inline-block; }
  /* line 695, M:/Sites/9 itunes-istore/sass/media.sass */
  .showingText {
    display: none; }
  /* line 699, M:/Sites/9 itunes-istore/sass/media.sass */
  body.album-style .tab-content .squareAlbums {
    max-height: none;
    min-height: 210px; }
  /* line 703, M:/Sites/9 itunes-istore/sass/media.sass */
  body.album-style .tab-pane .squareAlbums {
    margin: 0 0 10px 0; }
  /* line 705, M:/Sites/9 itunes-istore/sass/media.sass */
  body.album-style .tab-pane .littleSquareAlbums {
    margin-top: 20px; }
  /* line 710, M:/Sites/9 itunes-istore/sass/media.sass */
  section .squareAlbums, section .squareAlbumsWithPrice {
    display: inline-block;
    white-space: nowrap;
    height: 180px;
    overflow-y: hidden;
    overflow-x: scroll; }
    /* line 720, M:/Sites/9 itunes-istore/sass/media.sass */
    section .squareAlbums li, section .squareAlbumsWithPrice li {
      display: inline-block; }
  /* line 727, M:/Sites/9 itunes-istore/sass/media.sass */
  section .two-lines li:first-child {
    margin-left: 0; }
  /* line 729, M:/Sites/9 itunes-istore/sass/media.sass */
  section .squareAlbumsWithPrice {
    height: 220px; }
  /* line 733, M:/Sites/9 itunes-istore/sass/media.sass */
  body .ArtistBackgroundImage {
    top: 50px; }
  /* line 737, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .breadcrumbs {
    top: -25px; }
  /* line 739, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album {
    position: relative;
    width: 100%;
    display: block;
    min-height: 0; }
    /* line 744, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album > a {
      display: inline-block;
      vertical-align: top; }
      /* line 748, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .album > a img {
        width: 140px;
        height: 140px;
        margin: 0; }
    /* line 752, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album .albumLinksContainer {
      display: inline-block;
      margin-left: 5px; }
      /* line 756, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .album .albumLinksContainer a h3, body .music-container .album .albumLinksContainer a h2 {
        display: inline-block;
        vertical-align: top;
        margin: 5px 0; }
      /* line 760, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .album .albumLinksContainer a .caret {
        display: inline-block;
        line-height: inherit;
        margin: 6px 0 0 7px; }
    /* line 764, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album .buy-menu {
      display: inline-block;
      position: absolute;
      position: static;
      width: 120px; }
    /* line 774, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album p {
      display: inline-block;
      margin: 20px 0 5px 0;
      border: none;
      padding: 0; }
  /* line 779, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .art {
    display: block;
    width: 100%;
    padding: 0; }
    /* line 784, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .art .art__content > a, body .music-container .art .art__content br {
      display: none; }
    /* line 786, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .art .nav {
      display: block;
      width: 280px;
      margin: 15px auto 10px auto;
      text-align: center;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      overflow: hidden; }
      /* line 794, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .art .nav li {
        margin: 0;
        width: 33.3%;
        padding: 0; }
        /* line 798, M:/Sites/9 itunes-istore/sass/media.sass */
        body .music-container .art .nav li a {
          padding: 5px; }
  /* line 800, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style .nav-tabs li.active, body.lightAlbum-style .nav-tabs li.active {
    border-style: none;
    border-radius: 0px; }
  /* line 803, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style footer, body.lightAlbum-style footer {
    margin-top: 50px; }
  /* line 808, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer a, body .music-container .album .albumLinksContainer h2 {
    font-size: 15px; }
  /* line 810, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer p {
    font-size: 13px; }
  /* line 814, M:/Sites/9 itunes-istore/sass/media.sass */
  footer ul li {
    line-height: 2.5; }
    /* line 816, M:/Sites/9 itunes-istore/sass/media.sass */
    footer ul li:nth-child(2) {
      margin-top: 10px; }
  /* line 818, M:/Sites/9 itunes-istore/sass/media.sass */
  .buy-menu {
    color: #1F66B1;
    border: 1px solid #1F66B1; }
    /* line 821, M:/Sites/9 itunes-istore/sass/media.sass */
    .buy-menu .buy-menu__link {
      color: #1F66B1; }
  /* line 825, M:/Sites/9 itunes-istore/sass/media.sass */
  .color-style .buy-menu .buy-menu__link {
    color: #1F66B1; } }

@media only screen and (max-width: 768px) {
  /* line 838, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .nav-tabs {
    top: 150px; }
  /* line 840, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .artist-list-tag > li {
    margin: 0 16px 0 0; }
  /* line 842, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .breadcrumbs {
    top: 100px; }
  /* line 844, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .tab-content .tab-pane > p, .music-container_center h3 {
    margin-top: 40px; }
  /* line 846, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center aside {
    padding-left: 0; } }

@media only screen and (max-width: 480px) {
  /* line 851, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .nav-tabs {
    top: 80px;
    right: 0px; }
  /* line 854, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .artistTabInfo-sidebar__ul li p {
    padding-right: 20px; }
  /* line 856, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album > a img {
    width: 100px;
    height: 100px; }
  /* line 859, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .buy-menu {
    right: auto;
    bottom: -30px; }
  /* line 862, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer a h3, body .music-container .album .albumLinksContainer a h2 {
    margin: 0; }
  /* line 864, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer a .caret {
    margin-top: 1px; }
  /* line 866, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album p {
    margin-top: 0; }
  /* line 868, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .breadcrumbs {
    display: none; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  /* line 872, M:/Sites/9 itunes-istore/sass/media.sass */
  .breadcrumbs, body.darkAlbum-style .breadcrumbs, body.lightAlbum-style .breadcrumbs {
    display: none; }
  /* line 875, M:/Sites/9 itunes-istore/sass/media.sass */
  .buy-menu .buy-menu__link {
    display: inline-block;
    width: 100%; }
  /* line 878, M:/Sites/9 itunes-istore/sass/media.sass */
  .buy-menu .priceDropdown {
    display: none; } }

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5) and (-moz-min-device-pixel-ratio: 1.5) and (-o-min-device-pixel-ratio: 3/2) and (min-device-pixel-ratio: 1.5) {
  /* line 894, M:/Sites/9 itunes-istore/sass/media.sass */
  .header__mainMenu .leftMenu .iconsMenu {
    margin-top: 3px; } }

/*# sourceMappingURL=media.css.map */