/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* line 13, M:/Sites/9 itunes-istore/sass/media.sass */
  .centerMenu ul {
    text-align: left; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 19, M:/Sites/9 itunes-istore/sass/media.sass */
  .leftMenu {
    display: none; }
  /* line 21, M:/Sites/9 itunes-istore/sass/media.sass */
  .centerMenu {
    display: none; }
  /* line 23, M:/Sites/9 itunes-istore/sass/media.sass */
  .lineToggle {
    height: 50px;
    height: 10vh;
    margin: 0;
    z-index: 1;
    border-bottom: 1px solid #4e4e4e;
    background-color: #fff;
    text-align: center; }
    /* line 31, M:/Sites/9 itunes-istore/sass/media.sass */
    .lineToggle h2 {
      display: inline-block;
      font-size: 18px;
      line-height: 10vh;
      margin: 0;
      color: #4e4e4e; }
  /* line 38, M:/Sites/9 itunes-istore/sass/media.sass */
  #togMenu {
    position: absolute;
    top: 10vh;
    right: 0;
    height: 90vh;
    width: 100%;
    display: none;
    background: #fff;
    color: #999;
    margin: auto;
    text-align: left;
    z-index: 100;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s; }
    /* line 54, M:/Sites/9 itunes-istore/sass/media.sass */
    #togMenu ul {
      display: block;
      padding: 0 0 0 10px;
      margin: 0; }
      /* line 58, M:/Sites/9 itunes-istore/sass/media.sass */
      #togMenu ul li {
        display: block;
        position: relative;
        height: 8vh;
        border-bottom: 1px solid #eee; }
        /* line 63, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li:last-child {
          border: none; }
        /* line 65, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li img {
          width: 6vh;
          height: 6vh;
          line-height: 8vh;
          display: inline-block;
          margin: 0 10px 0 0; }
        /* line 71, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li a {
          display: inline-block;
          line-height: 8vh;
          color: #4e4e4e; }
        /* line 76, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li.active a, #togMenu ul li:active a {
          color: #2677C5;
          text-decoration: none; }
        /* line 79, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li.active::after, #togMenu ul li:active::after {
          content: " ";
          position: absolute;
          display: block;
          width: 4vh;
          height: 4vh;
          background: url(../img/ico_check.svg) no-repeat;
          background-size: contain;
          top: 2vh;
          right: 1vh; }
  /* line 90, M:/Sites/9 itunes-istore/sass/media.sass */
  #togMenu:after {
    display: none; }
  /* line 93, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton {
    display: block;
    width: 30px;
    height: 28px;
    position: absolute;
    z-index: 999;
    top: 25px;
    right: 10px;
    margin: 0; }
  /* line 104, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span:after,
  #toggleButton span:before {
    content: " ";
    position: absolute;
    left: 0;
    top: -9px; }
  /* line 110, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span:after {
    top: 9px; }
  /* line 113, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span {
    position: relative;
    display: block; }
  /* line 119, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span,
  #toggleButton span:after,
  #toggleButton span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px; }
  /* on activation */
  /* line 128, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on span {
    background-color: transparent; }
  /* line 131, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on span:before {
    transform: rotate(45deg) translate(5px, 5px); }
  /* line 134, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on span:after {
    transform: rotate(-45deg) translate(7px, -8px); }
  /* line 137, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on + #togMenu {
    opacity: 1;
    visibility: visible;
    display: block; } }

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {
  /* line 148, M:/Sites/9 itunes-istore/sass/media.sass */
  section .squareAlbums li a {
    text-decoration-color: inherit; }
  /* line 150, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_margin {
    padding: 0 10px;
    margin: 20px auto 0px auto; }
  /* line 154, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 100%; }
    /* line 156, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .seeAll {
      top: 3px;
      right: 0px; }
      /* line 159, M:/Sites/9 itunes-istore/sass/media.sass */
      .music-content .seeAll .caret {
        display: inline-block; }
    /* line 162, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .h-title {
      position: static;
      display: block;
      margin: 0; }
    /* line 166, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .nav {
      margin-top: 15px; }
      /* line 169, M:/Sites/9 itunes-istore/sass/media.sass */
      .music-content .nav li:first-child {
        margin-left: 0px; }
  /* line 179, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .squareAlbums {
    white-space: normal; }
  /* line 182, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums {
    width: 100%; }
    /* line 185, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .seeAll {
      top: 5px; }
    /* line 187, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList {
      padding: 0;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between; }
      /* line 197, M:/Sites/9 itunes-istore/sass/media.sass */
      .littleSquareAlbums .lineList .lineList__column {
        width: 100%; }
        /* line 200, M:/Sites/9 itunes-istore/sass/media.sass */
        .littleSquareAlbums .lineList .lineList__column:first-child {
          display: inline-block; }
  /* line 211, M:/Sites/9 itunes-istore/sass/media.sass */
  .inlineCovers ul li {
    margin-right: 10px; }
  /* line 215, M:/Sites/9 itunes-istore/sass/media.sass */
  .SquareAlbums-wrapper .SquareAlbums-wrapper__title {
    margin: 0; }
  /* line 222, M:/Sites/9 itunes-istore/sass/media.sass */
  aside {
    display: none; }
  /* line 225, M:/Sites/9 itunes-istore/sass/media.sass */
  footer {
    margin: 0 auto;
    padding: 20px 15px 10px 15px;
    overflow-x: scroll;
    white-space: nowrap; }
    /* line 230, M:/Sites/9 itunes-istore/sass/media.sass */
    footer ul {
      display: inline-block;
      width: 50%;
      margin: 0 15px 5px 0; }
      /* line 240, M:/Sites/9 itunes-istore/sass/media.sass */
      footer ul li {
        margin: 0 5px 0 0; }
        /* line 243, M:/Sites/9 itunes-istore/sass/media.sass */
        footer ul li h2 {
          margin: 0; } }

@media only screen and (min-width: 480px) {
  /* line 249, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content .h-title {
    position: absolute;
    line-height: 1;
    top: 0;
    display: inline-block;
    margin: 0; }
  /* line 258, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content .nav li:first-child {
    margin-left: 130px; } }

@media only screen and (min-width: 580px) {
  /* line 265, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 46%; }
    /* line 268, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2) {
      display: inline-block; } }

@media only screen and (min-width: 768px) {
  /* line 275, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 30%; }
    /* line 277, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2), .littleSquareAlbums .lineList .lineList__column:nth-child(3) {
      display: inline-block; }
  /* line 280, M:/Sites/9 itunes-istore/sass/media.sass */
  footer {
    margin: 20px auto 0 auto; }
    /* line 282, M:/Sites/9 itunes-istore/sass/media.sass */
    footer ul {
      display: inline-block;
      width: 20%;
      height: auto;
      overflow-x: auto;
      overflow-y: auto;
      white-space: normal; }
      /* line 289, M:/Sites/9 itunes-istore/sass/media.sass */
      footer ul li {
        display: block; }
        /* line 291, M:/Sites/9 itunes-istore/sass/media.sass */
        footer ul li:first-child {
          margin-bottom: 5px; } }

@media only screen and (min-width: 1000px) {
  /* line 298, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item .buy-menu {
    display: none; }
  /* line 301, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item:hover .buy-menu {
    display: block; }
  /* line 307, M:/Sites/9 itunes-istore/sass/media.sass */
  .Carousel .owl-carousel .item img {
    height: 260px; }
  /* line 310, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_margin {
    padding: 0 15px;
    margin: 35px auto 0 auto; }
  /* line 314, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px; }
    /* line 319, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .nav {
      margin-top: 0; }
  /* line 326, M:/Sites/9 itunes-istore/sass/media.sass */
  aside {
    width: 24%;
    display: inline-block; }
  /* line 348, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content .tab-pane {
    margin-left: -20px; }
  /* line 370, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item .buy-menu {
    display: none; }
  /* line 373, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item:hover .buy-menu {
    display: block; }
  /* line 375, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style .album br, body.lightAlbum-style .album br {
    display: none; }
  /* line 378, M:/Sites/9 itunes-istore/sass/media.sass */
  footer {
    padding: 20px 15px 10px 15px; }
    /* line 380, M:/Sites/9 itunes-istore/sass/media.sass */
    footer ul {
      display: inline-block;
      width: 190px; } }

@media only screen and (min-width: 1200px) {
  /* line 385, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 80%; }
  /* line 388, M:/Sites/9 itunes-istore/sass/media.sass */
  aside {
    width: 19%; } }

@media only screen and (min-width: 1300px) {
  /* line 392, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 80%; }
  /* line 397, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 23%; }
    /* line 400, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2), .littleSquareAlbums .lineList .lineList__column:nth-child(3), .littleSquareAlbums .lineList .lineList__column:nth-child(4) {
      display: inline-block; } }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 406, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 407, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 410, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 413, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 417, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* Smartphones (landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 434, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 435, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 438, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 441, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 445, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 452, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 453, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 456, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 459, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 463, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 470, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 471, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 474, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 477, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 481, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* The New iPad (iPad 3) ----------- */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 488, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 489, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: inline-block; }
    /* line 492, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: inline-block; }
    /* line 495, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 499, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 506, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 507, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: inline-block; }
    /* line 510, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: inline-block; }
    /* line 513, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 517, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

@media only screen and (max-width: 1200px) {
  /* line 550, M:/Sites/9 itunes-istore/sass/media.sass */
  .artistTabInfo__artistbiography {
    display: block;
    width: 100%;
    margin: 20px auto 0 auto; }
  /* line 554, M:/Sites/9 itunes-istore/sass/media.sass */
  .artistTabInfo-sidebar {
    width: 100%;
    margin: 20px auto 0 auto;
    display: block; } }

@media only screen and (max-width: 1000px) {
  /* line 575, M:/Sites/9 itunes-istore/sass/media.sass */
  .art #Songs > h3, .art #Songs p {
    display: none; }
  /* line 577, M:/Sites/9 itunes-istore/sass/media.sass */
  .art table {
    margin-top: 10px; }
    /* line 580, M:/Sites/9 itunes-istore/sass/media.sass */
    .art table tr:first-child {
      display: none; }
    /* line 582, M:/Sites/9 itunes-istore/sass/media.sass */
    .art table tr td {
      padding: 5px 0; }
      /* line 584, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(3), .art table tr td:nth-child(5) {
        display: none; }
      /* line 586, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(2) {
        width: 68%;
        padding-right: 5px; }
      /* line 589, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(3) {
        width: 10%; }
      /* line 591, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(4) {
        width: 20%; }
      /* line 593, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:last-child {
        text-align: right; }
  /* line 595, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style table .buy-menu, body.lightAlbum-style table .buy-menu {
    height: auto;
    padding: 5px 5px;
    width: auto;
    min-width: 90px; }
    /* line 600, M:/Sites/9 itunes-istore/sass/media.sass */
    body.darkAlbum-style table .buy-menu a, body.lightAlbum-style table .buy-menu a {
      width: auto;
      font-size: 16px;
      white-space: nowrap; }
  /* line 604, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .buy-menu {
    height: auto;
    padding: 2px 0; }
  /* line 607, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu, body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu, .buy-menu {
    display: inline-block;
    height: auto;
    padding: 5px 10px;
    width: auto;
    min-width: 80px; }
    /* line 613, M:/Sites/9 itunes-istore/sass/media.sass */
    body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu a, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu a, body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu a, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu a, .buy-menu a {
      width: auto;
      font-size: 16px;
      white-space: nowrap; }
  /* line 618, M:/Sites/9 itunes-istore/sass/media.sass */
  .lineList .buy-menu {
    top: 7px; }
  /* line 621, M:/Sites/9 itunes-istore/sass/media.sass */
  .lineList .lineList__column .lineList__column__block {
    padding-right: 85px; }
  /* line 630, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList {
    display: block;
    width: 100%;
    height: 165px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
    /* line 637, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column {
      display: inline-block;
      margin: 0 15px 0 0;
      width: 270px; }
      /* line 642, M:/Sites/9 itunes-istore/sass/media.sass */
      .littleSquareAlbums .lineList .lineList__column:last-child {
        margin-right: 10px; }
  /* line 645, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .toSort {
    display: none; }
  /* line 647, M:/Sites/9 itunes-istore/sass/media.sass */
  .showText {
    display: inline-block; }
  /* line 649, M:/Sites/9 itunes-istore/sass/media.sass */
  .showingText {
    display: none; }
  /* line 653, M:/Sites/9 itunes-istore/sass/media.sass */
  body.album-style .tab-content .squareAlbums {
    max-height: none;
    min-height: 210px; }
  /* line 657, M:/Sites/9 itunes-istore/sass/media.sass */
  body.album-style .tab-pane .squareAlbums {
    margin: 0 0 10px 0; }
  /* line 659, M:/Sites/9 itunes-istore/sass/media.sass */
  body.album-style .tab-pane .littleSquareAlbums {
    margin-top: 20px; }
  /* line 664, M:/Sites/9 itunes-istore/sass/media.sass */
  section .squareAlbums, section .squareAlbumsWithPrice {
    display: inline-block;
    white-space: nowrap;
    height: 180px;
    overflow-y: hidden;
    overflow-x: scroll; }
    /* line 674, M:/Sites/9 itunes-istore/sass/media.sass */
    section .squareAlbums li, section .squareAlbumsWithPrice li {
      display: inline-block; }
  /* line 681, M:/Sites/9 itunes-istore/sass/media.sass */
  section .two-lines li:first-child {
    margin-left: 0; }
  /* line 683, M:/Sites/9 itunes-istore/sass/media.sass */
  section .squareAlbumsWithPrice {
    height: 215px; }
  /* line 687, M:/Sites/9 itunes-istore/sass/media.sass */
  body .ArtistBackgroundImage {
    top: 10vh; }
  /* line 690, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .breadcrumbs {
    top: -25px; }
  /* line 692, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album {
    position: relative;
    width: 100%;
    display: block;
    min-height: 0; }
    /* line 697, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album > a {
      display: inline-block;
      vertical-align: top; }
      /* line 701, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .album > a img {
        width: 140px;
        height: 140px;
        margin: 0; }
    /* line 705, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album .albumLinksContainer {
      display: inline-block;
      margin-left: 5px; }
      /* line 709, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .album .albumLinksContainer a h3, body .music-container .album .albumLinksContainer a h2 {
        display: inline-block;
        vertical-align: top;
        margin: 5px 0; }
      /* line 713, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .album .albumLinksContainer a .caret {
        display: inline-block;
        line-height: inherit;
        margin: 6px 0 0 7px; }
    /* line 717, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album .buy-menu {
      display: inline-block;
      position: absolute;
      width: 120px;
      top: auto;
      left: auto;
      bottom: 20px;
      right: 10px; }
    /* line 726, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album p {
      display: inline-block;
      margin: 20px 0 5px 0;
      border: none;
      padding: 0; }
  /* line 731, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .art {
    display: block;
    width: 100%;
    padding: 0; }
    /* line 736, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .art .art__content > a, body .music-container .art .art__content br {
      display: none; }
    /* line 738, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .art .nav {
      display: block;
      width: 280px;
      margin: 15px auto 10px auto;
      text-align: center;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      overflow: hidden; }
      /* line 746, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .art .nav li {
        margin: 0;
        width: 33%;
        padding: 0; }
        /* line 750, M:/Sites/9 itunes-istore/sass/media.sass */
        body .music-container .art .nav li a {
          padding: 5px; }
  /* line 752, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style .nav-tabs li.active, body.lightAlbum-style .nav-tabs li.active {
    border-style: none;
    border-radius: 0px; }
  /* line 755, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style footer, body.lightAlbum-style footer {
    margin-top: 50px; }
  /* line 760, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer a, body .music-container .album .albumLinksContainer h2 {
    font-size: 15px; }
  /* line 762, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer p {
    font-size: 13px; } }

@media only screen and (max-width: 768px) {
  /* line 769, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .nav-tabs {
    top: 150px; }
  /* line 771, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .artist-list-tag > li {
    margin: 0 16px 0 0; }
  /* line 773, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .breadcrumbs {
    top: 100px; }
  /* line 775, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .tab-content .tab-pane > p, .music-container_center h3 {
    margin-top: 40px; }
  /* line 777, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center aside {
    padding-left: 0; } }

@media only screen and (max-width: 480px) {
  /* line 782, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .nav-tabs {
    top: 80px;
    right: 0px; }
  /* line 785, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .artistTabInfo-sidebar__ul li p {
    padding-right: 20px; }
  /* line 787, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album > a img {
    width: 100px;
    height: 100px; }
  /* line 790, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .buy-menu {
    right: 0px;
    bottom: -30px; }
  /* line 793, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer a h3, body .music-container .album .albumLinksContainer a h2 {
    margin: 0; }
  /* line 795, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer a .caret {
    margin-top: 1px; }
  /* line 797, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album p {
    margin-top: 0; }
  /* line 799, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .breadcrumbs {
    display: none; } }

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  /* line 803, M:/Sites/9 itunes-istore/sass/media.sass */
  .breadcrumbs {
    display: none; }
  /* line 806, M:/Sites/9 itunes-istore/sass/media.sass */
  .buy-menu .buy-menu__link {
    display: inline-block;
    width: 100%; }
  /* line 809, M:/Sites/9 itunes-istore/sass/media.sass */
  .buy-menu .priceDropdown {
    display: none; } }

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5) and (-moz-min-device-pixel-ratio: 1.5) and (-o-min-device-pixel-ratio: 3/2) and (min-device-pixel-ratio: 1.5) {
  /* line 825, M:/Sites/9 itunes-istore/sass/media.sass */
  .header__mainMenu .leftMenu .iconsMenu {
    margin-top: 3px; } }

/*# sourceMappingURL=media.css.map */