/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* line 13, M:/Sites/9 itunes-istore/sass/media.sass */
  .centerMenu ul {
    text-align: left; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 19, M:/Sites/9 itunes-istore/sass/media.sass */
  .leftMenu {
    display: none; }
  /* line 21, M:/Sites/9 itunes-istore/sass/media.sass */
  .centerMenu {
    display: none; }
  /* line 23, M:/Sites/9 itunes-istore/sass/media.sass */
  .lineToggle {
    height: 50px;
    margin: 0;
    z-index: 1;
    background-color: #fff;
    text-align: center; }
    /* line 30, M:/Sites/9 itunes-istore/sass/media.sass */
    .lineToggle h2 {
      display: inline-block;
      font-size: 18px;
      line-height: 52px;
      margin: 0;
      color: #4e4e4e; }
  /* line 38, M:/Sites/9 itunes-istore/sass/media.sass */
  #togMenu {
    top: 50px;
    right: 0;
    height: auto;
    width: 100%;
    display: none;
    background: #fff;
    color: #999;
    margin: auto;
    text-align: left;
    z-index: 100;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s; }
    /* line 56, M:/Sites/9 itunes-istore/sass/media.sass */
    #togMenu ul {
      display: block;
      padding: 0px;
      margin: 0; }
      /* line 60, M:/Sites/9 itunes-istore/sass/media.sass */
      #togMenu ul li {
        display: block;
        position: relative;
        padding: 5px 0 0 10px;
        height: 50px;
        border-bottom: 1px solid #eee; }
        /* line 69, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li:first-child {
          border-top: 1px solid #eee; }
        /* line 71, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li img {
          width: 6vh;
          width: 40px;
          height: 40px;
          line-height: 50px;
          display: inline-block;
          margin: 0 10px 0 0; }
        /* line 80, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li a {
          display: inline-block;
          color: #4e4e4e; }
        /* line 85, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li.active a, #togMenu ul li:active a {
          color: #2677C5;
          text-decoration: none; }
        /* line 88, M:/Sites/9 itunes-istore/sass/media.sass */
        #togMenu ul li.active::after, #togMenu ul li:active::after {
          content: " ";
          position: absolute;
          display: block;
          width: 20px;
          height: 20px;
          background: url(../img/ico_check.svg) no-repeat;
          background-size: contain;
          top: 15px;
          right: 2vh; }
  /* line 101, M:/Sites/9 itunes-istore/sass/media.sass */
  #togMenu:after {
    display: none; }
  /* line 104, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton {
    display: block;
    width: 25px;
    height: 28px;
    position: absolute;
    z-index: 999;
    top: 26px;
    right: 15px;
    margin: 0; }
  /* line 115, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span:after,
  #toggleButton span:before {
    content: " ";
    position: absolute;
    left: 0;
    top: -7px; }
  /* line 121, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span:after {
    top: 7px; }
  /* line 124, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span {
    position: relative;
    display: block; }
  /* line 130, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton span,
  #toggleButton span:after,
  #toggleButton span:before {
    width: 100%;
    height: 1px;
    line-height: 49px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px; }
  /* on activation */
  /* line 140, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on span {
    background-color: transparent; }
  /* line 143, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on span:before {
    transform: rotate(45deg) translate(5px, 5px); }
  /* line 146, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
    transform: rotate(-45deg) translate(5px, -5px); }
  /* line 150, M:/Sites/9 itunes-istore/sass/media.sass */
  #toggleButton.on + #togMenu {
    opacity: 1;
    visibility: visible;
    display: block; } }

/*==========  Mobile First Method  ==========*/
@media only screen and (min-width: 320px) {
  /* line 162, M:/Sites/9 itunes-istore/sass/media.sass */
  section .squareAlbums li a {
    text-decoration-color: inherit; }
  /* line 164, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_margin {
    padding: 0 10px;
    margin: 20px auto 0px auto; }
  /* line 168, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 100%; }
    /* line 170, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .seeAll {
      top: -1px;
      right: 0px; }
      /* line 173, M:/Sites/9 itunes-istore/sass/media.sass */
      .music-content .seeAll .caret {
        display: inline-block; }
    /* line 176, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .h-title {
      position: static;
      display: block;
      margin: 0; }
    /* line 180, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .nav {
      margin-top: 15px; }
      /* line 183, M:/Sites/9 itunes-istore/sass/media.sass */
      .music-content .nav li:first-child {
        margin-left: 0px; }
  /* line 193, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .squareAlbums {
    white-space: normal; }
  /* line 196, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums {
    width: 100%; }
    /* line 199, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .seeAll {
      top: 0px;
      line-height: 1; }
    /* line 202, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList {
      padding: 0;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-between; }
      /* line 212, M:/Sites/9 itunes-istore/sass/media.sass */
      .littleSquareAlbums .lineList .lineList__column {
        width: 100%; }
        /* line 215, M:/Sites/9 itunes-istore/sass/media.sass */
        .littleSquareAlbums .lineList .lineList__column:first-child {
          display: inline-block; }
  /* line 226, M:/Sites/9 itunes-istore/sass/media.sass */
  .inlineCovers ul li {
    margin-right: 10px; }
  /* line 230, M:/Sites/9 itunes-istore/sass/media.sass */
  .SquareAlbums-wrapper .SquareAlbums-wrapper__title {
    margin: 0; }
  /* line 237, M:/Sites/9 itunes-istore/sass/media.sass */
  aside {
    display: none; }
  /* line 240, M:/Sites/9 itunes-istore/sass/media.sass */
  footer {
    margin: 0 auto;
    padding: 20px 15px 10px 15px;
    overflow-x: scroll;
    white-space: nowrap; }
    /* line 245, M:/Sites/9 itunes-istore/sass/media.sass */
    footer ul {
      display: inline-block;
      width: 50%;
      min-width: 200px;
      margin: 0 15px 5px 0; }
      /* line 256, M:/Sites/9 itunes-istore/sass/media.sass */
      footer ul li {
        margin: 0 5px 0 0; }
        /* line 259, M:/Sites/9 itunes-istore/sass/media.sass */
        footer ul li h2 {
          margin: 0; } }

@media only screen and (min-width: 480px) {
  /* line 265, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content .h-title {
    position: absolute;
    line-height: 1;
    top: 0;
    display: inline-block;
    margin: 0; }
  /* line 274, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content .nav li:first-child {
    margin-left: 130px; } }

@media only screen and (min-width: 580px) {
  /* line 281, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 46%; }
    /* line 284, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2) {
      display: inline-block; } }

@media only screen and (min-width: 768px) {
  /* line 291, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 30%; }
    /* line 293, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2), .littleSquareAlbums .lineList .lineList__column:nth-child(3) {
      display: inline-block; }
  /* line 296, M:/Sites/9 itunes-istore/sass/media.sass */
  footer {
    margin: 20px auto 0 auto; }
    /* line 298, M:/Sites/9 itunes-istore/sass/media.sass */
    footer ul {
      display: inline-block;
      width: 20%;
      height: auto;
      overflow-x: auto;
      overflow-y: auto;
      white-space: normal; }
      /* line 305, M:/Sites/9 itunes-istore/sass/media.sass */
      footer ul li {
        display: block; }
        /* line 307, M:/Sites/9 itunes-istore/sass/media.sass */
        footer ul li:first-child {
          margin-bottom: 5px; } }

@media only screen and (min-width: 1000px) {
  /* line 314, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item .buy-menu {
    display: none; }
  /* line 317, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item:hover .buy-menu {
    display: block; }
  /* line 323, M:/Sites/9 itunes-istore/sass/media.sass */
  .Carousel .owl-carousel .item img {
    height: 260px; }
  /* line 326, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_margin {
    padding: 0 15px;
    margin: 35px auto 0 auto; }
  /* line 330, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px; }
    /* line 335, M:/Sites/9 itunes-istore/sass/media.sass */
    .music-content .nav {
      margin-top: 0; }
  /* line 342, M:/Sites/9 itunes-istore/sass/media.sass */
  aside {
    width: 24%;
    display: inline-block; }
  /* line 364, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content .tab-pane {
    margin-left: -20px; }
  /* line 386, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item .buy-menu {
    display: none; }
  /* line 389, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item:hover .buy-menu {
    display: block; }
  /* line 391, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style .album br, body.lightAlbum-style .album br {
    display: none; }
  /* line 395, M:/Sites/9 itunes-istore/sass/media.sass */
  .searchStyles .tab-pane {
    display: block; }
  /* line 398, M:/Sites/9 itunes-istore/sass/media.sass */
  .containerOfTypes .squareAlbumsWithPrice {
    height: 210px; }
  /* line 402, M:/Sites/9 itunes-istore/sass/media.sass */
  footer {
    padding: 20px 15px 10px 15px; }
    /* line 404, M:/Sites/9 itunes-istore/sass/media.sass */
    footer ul {
      display: inline-block;
      width: 190px; } }

@media only screen and (min-width: 1200px) {
  /* line 409, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 80%; }
  /* line 412, M:/Sites/9 itunes-istore/sass/media.sass */
  aside {
    width: 19%; } }

@media only screen and (min-width: 1300px) {
  /* line 416, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 80%; }
  /* line 421, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 23%; }
    /* line 424, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2), .littleSquareAlbums .lineList .lineList__column:nth-child(3), .littleSquareAlbums .lineList .lineList__column:nth-child(4) {
      display: inline-block; } }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 430, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 431, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 434, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 437, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 441, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* Smartphones (landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 458, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 459, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 462, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 465, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 469, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 476, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 477, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 480, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 483, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 487, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 494, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 495, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: block; }
    /* line 498, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: block; }
    /* line 501, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 505, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* The New iPad (iPad 3) ----------- */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 512, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 513, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: inline-block; }
    /* line 516, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: inline-block; }
    /* line 519, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 523, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 530, M:/Sites/9 itunes-istore/sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px; }
    /* line 531, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item .priceDropdown {
      display: inline-block; }
    /* line 534, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:hover .priceDropdown {
      display: inline-block; }
    /* line 537, M:/Sites/9 itunes-istore/sass/media.sass */
    .aside__topList .aside__topList__item:first-child {
      padding: 0 0 0 0; }
  /* line 541, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px; } }

@media only screen and (max-width: 1200px) {
  /* line 559, M:/Sites/9 itunes-istore/sass/media.sass */
  .artistTabInfo__artistbiography {
    display: block;
    width: 100%;
    margin: 20px auto 0 auto; }
  /* line 563, M:/Sites/9 itunes-istore/sass/media.sass */
  .artistTabInfo-sidebar {
    width: 100%;
    margin: 20px auto 0 auto;
    display: block; } }

@media only screen and (max-width: 1000px) {
  /* line 570, M:/Sites/9 itunes-istore/sass/media.sass */
  body.hiddenStyles {
    background: #fff; }
    /* line 572, M:/Sites/9 itunes-istore/sass/media.sass */
    body.hiddenStyles footer, body.hiddenStyles .music-container, body.hiddenStyles .Carousel {
      display: none; }
  /* line 577, M:/Sites/9 itunes-istore/sass/media.sass */
  .art #Songs > h3, .art #Songs p {
    display: none; }
  /* line 579, M:/Sites/9 itunes-istore/sass/media.sass */
  .art table {
    margin-top: 10px; }
    /* line 582, M:/Sites/9 itunes-istore/sass/media.sass */
    .art table tr:first-child {
      display: none; }
    /* line 584, M:/Sites/9 itunes-istore/sass/media.sass */
    .art table tr td {
      padding: 5px 0; }
      /* line 586, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(3), .art table tr td:nth-child(5) {
        display: none; }
      /* line 588, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(2) {
        width: 68%;
        padding-right: 5px; }
      /* line 591, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(3) {
        width: 10%; }
      /* line 593, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:nth-child(4) {
        width: 20%; }
      /* line 595, M:/Sites/9 itunes-istore/sass/media.sass */
      .art table tr td:last-child {
        text-align: right; }
  /* line 597, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style table .buy-menu, body.lightAlbum-style table .buy-menu {
    height: auto;
    padding: 3px 5px;
    width: auto;
    min-width: 90px; }
    /* line 602, M:/Sites/9 itunes-istore/sass/media.sass */
    body.darkAlbum-style table .buy-menu a, body.lightAlbum-style table .buy-menu a {
      width: auto;
      font-size: 16px;
      white-space: nowrap; }
  /* line 606, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .buy-menu {
    height: auto;
    padding: 2px 0; }
  /* line 609, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu, body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu, .buy-menu {
    display: inline-block;
    height: auto;
    padding: 3px 10px;
    width: auto;
    min-width: 80px; }
    /* line 615, M:/Sites/9 itunes-istore/sass/media.sass */
    body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu a, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu a, body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu a, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu a, .buy-menu a {
      width: auto;
      font-size: 16px;
      white-space: nowrap; }
  /* line 620, M:/Sites/9 itunes-istore/sass/media.sass */
  .lineList .buy-menu {
    top: 8px; }
    /* line 622, M:/Sites/9 itunes-istore/sass/media.sass */
    .lineList .buy-menu a {
      font-size: 16px; }
  /* line 625, M:/Sites/9 itunes-istore/sass/media.sass */
  .lineList .lineList__column .lineList__column__block {
    padding-right: 85px; }
  /* line 629, M:/Sites/9 itunes-istore/sass/media.sass */
  .littleSquareAlbums .lineList {
    display: block;
    width: 100%;
    height: 165px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; }
    /* line 636, M:/Sites/9 itunes-istore/sass/media.sass */
    .littleSquareAlbums .lineList .lineList__column {
      display: inline-block;
      margin: 0 15px 0 0;
      width: 270px; }
      /* line 640, M:/Sites/9 itunes-istore/sass/media.sass */
      .littleSquareAlbums .lineList .lineList__column:last-child {
        margin-right: 10px; }
  /* line 643, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .toSort {
    display: none; }
  /* line 645, M:/Sites/9 itunes-istore/sass/media.sass */
  .showText {
    display: inline-block; }
  /* line 647, M:/Sites/9 itunes-istore/sass/media.sass */
  .showingText {
    display: none; }
  /* line 651, M:/Sites/9 itunes-istore/sass/media.sass */
  body.album-style .tab-content .squareAlbums {
    max-height: none;
    min-height: 210px; }
  /* line 655, M:/Sites/9 itunes-istore/sass/media.sass */
  body.album-style .tab-pane .squareAlbums {
    margin: 0 0 10px 0; }
  /* line 657, M:/Sites/9 itunes-istore/sass/media.sass */
  body.album-style .tab-pane .littleSquareAlbums {
    margin-top: 20px; }
  /* line 661, M:/Sites/9 itunes-istore/sass/media.sass */
  section .squareAlbums, section .squareAlbumsWithPrice {
    display: inline-block;
    white-space: nowrap;
    height: 180px;
    overflow-y: hidden;
    overflow-x: scroll; }
    /* line 668, M:/Sites/9 itunes-istore/sass/media.sass */
    section .squareAlbums li, section .squareAlbumsWithPrice li {
      display: inline-block; }
  /* line 671, M:/Sites/9 itunes-istore/sass/media.sass */
  section .two-lines li:first-child {
    margin-left: 0; }
  /* line 673, M:/Sites/9 itunes-istore/sass/media.sass */
  section .squareAlbumsWithPrice {
    height: 220px; }
  /* line 676, M:/Sites/9 itunes-istore/sass/media.sass */
  .containerOfTypes .squareAlbumsWithPrice {
    height: 230px; }
  /* line 680, M:/Sites/9 itunes-istore/sass/media.sass */
  body .ArtistBackgroundImage {
    top: 50px; }
  /* line 684, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .breadcrumbs {
    top: -25px; }
  /* line 686, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album {
    position: relative;
    width: 100%;
    display: block;
    min-height: 0; }
    /* line 691, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album > a {
      display: inline-block;
      vertical-align: top; }
      /* line 695, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .album > a img {
        width: 140px;
        height: 140px;
        margin: 0; }
    /* line 699, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album .albumLinksContainer {
      display: inline-block;
      margin-left: 5px; }
      /* line 703, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .album .albumLinksContainer a h3, body .music-container .album .albumLinksContainer a h2 {
        display: inline-block;
        vertical-align: top;
        margin: 5px 0; }
      /* line 707, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .album .albumLinksContainer a .caret {
        display: inline-block;
        line-height: inherit;
        margin: 6px 0 0 7px; }
    /* line 711, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album .buy-menu {
      display: inline-block;
      position: absolute;
      position: static;
      width: 120px; }
    /* line 716, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .album p {
      display: inline-block;
      margin: 20px 0 5px 0;
      border: none;
      padding: 0; }
  /* line 721, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .art {
    display: block;
    width: 100%;
    padding: 0; }
    /* line 726, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .art .art__content > a, body .music-container .art .art__content br {
      display: none; }
    /* line 728, M:/Sites/9 itunes-istore/sass/media.sass */
    body .music-container .art .nav {
      display: block;
      width: 280px;
      margin: 15px auto 10px auto;
      text-align: center;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      overflow: hidden; }
      /* line 736, M:/Sites/9 itunes-istore/sass/media.sass */
      body .music-container .art .nav li {
        margin: 0;
        width: 33.3%;
        padding: 0; }
        /* line 740, M:/Sites/9 itunes-istore/sass/media.sass */
        body .music-container .art .nav li a {
          padding: 5px; }
  /* line 742, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style .nav-tabs li.active, body.lightAlbum-style .nav-tabs li.active {
    border-style: none;
    border-radius: 0px; }
  /* line 745, M:/Sites/9 itunes-istore/sass/media.sass */
  body.darkAlbum-style footer, body.lightAlbum-style footer {
    margin-top: 50px; }
  /* line 748, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer a, body .music-container .album .albumLinksContainer h2 {
    font-size: 15px; }
  /* line 750, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer p {
    font-size: 13px; }
  /* line 754, M:/Sites/9 itunes-istore/sass/media.sass */
  footer ul li {
    line-height: 2.5; }
    /* line 756, M:/Sites/9 itunes-istore/sass/media.sass */
    footer ul li:nth-child(2) {
      margin-top: 10px; }
  /* line 758, M:/Sites/9 itunes-istore/sass/media.sass */
  .buy-menu {
    color: #1F66B1;
    border: 1px solid #1F66B1; }
    /* line 761, M:/Sites/9 itunes-istore/sass/media.sass */
    .buy-menu .buy-menu__link {
      display: inline-block;
      width: 100%;
      color: #1F66B1;
      line-height: 1;
      margin: 0; }
  /* line 769, M:/Sites/9 itunes-istore/sass/media.sass */
  .color-style .buy-menu .buy-menu__link {
    color: #1F66B1; }
  /* line 772, M:/Sites/9 itunes-istore/sass/media.sass */
  .searchStyles {
    padding: 0;
    text-align: center; }
    /* line 775, M:/Sites/9 itunes-istore/sass/media.sass */
    .searchStyles .resultForSearch {
      display: none; }
    /* line 777, M:/Sites/9 itunes-istore/sass/media.sass */
    .searchStyles .nav-tabs {
      display: inline-block;
      border: 1px solid #1F66B1;
      margin: 10px auto 5px auto;
      border-radius: 5px; }
      /* line 782, M:/Sites/9 itunes-istore/sass/media.sass */
      .searchStyles .nav-tabs li {
        min-width: 80px;
        text-align: center; }
        /* line 785, M:/Sites/9 itunes-istore/sass/media.sass */
        .searchStyles .nav-tabs li a {
          padding: 5px;
          color: #1F66B1; }
  /* line 789, M:/Sites/9 itunes-istore/sass/media.sass */
  .filterContent li {
    border-right: 1px solid #1F66B1; }
    /* line 791, M:/Sites/9 itunes-istore/sass/media.sass */
    .filterContent li:last-child {
      border-right: none; }
    /* line 794, M:/Sites/9 itunes-istore/sass/media.sass */
    .filterContent li:first-child.active #albums {
      display: block;
      background: #000 !important; }
  /* line 797, M:/Sites/9 itunes-istore/sass/media.sass */
  .containerOfTypes {
    border-top: 1px solid #e5e5e5;
    padding: 0 15px; }
    /* line 800, M:/Sites/9 itunes-istore/sass/media.sass */
    .containerOfTypes .tab-pane {
      border-bottom: 1px solid #e5e5e5; }
      /* line 802, M:/Sites/9 itunes-istore/sass/media.sass */
      .containerOfTypes .tab-pane:last-child {
        border: none; }
    /* line 804, M:/Sites/9 itunes-istore/sass/media.sass */
    .containerOfTypes .media-displayNone {
      display: none; }
    /* line 806, M:/Sites/9 itunes-istore/sass/media.sass */
    .containerOfTypes .media-displayBlock {
      margin: 0;
      display: block; }
  /* line 810, M:/Sites/9 itunes-istore/sass/media.sass */
  .breadcrumbs, body.darkAlbum-style .breadcrumbs, body.lightAlbum-style .breadcrumbs {
    display: none; }
  /* line 812, M:/Sites/9 itunes-istore/sass/media.sass */
  .priceDropdown {
    display: none; } }

@media only screen and (max-width: 768px) {
  /* line 817, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .nav-tabs {
    top: 150px; }
  /* line 819, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .artist-list-tag > li {
    margin: 0 16px 0 0; }
  /* line 821, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .breadcrumbs {
    top: 100px; }
  /* line 823, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .tab-content .tab-pane > p, .music-container_center h3 {
    margin-top: 40px; }
  /* line 825, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center aside {
    padding-left: 0; } }

@media only screen and (max-width: 480px) {
  /* line 830, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .nav-tabs {
    top: 80px;
    right: 0px; }
  /* line 833, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-container_center .artistTabInfo-sidebar__ul li p {
    padding-right: 20px; }
  /* line 835, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album > a img {
    width: 100px;
    height: 100px; }
  /* line 838, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .buy-menu {
    right: auto;
    bottom: -30px; }
  /* line 841, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer a h3, body .music-container .album .albumLinksContainer a h2 {
    margin: 0; }
  /* line 843, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album .albumLinksContainer a .caret {
    margin-top: 1px; }
  /* line 845, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .album p {
    margin-top: 0; }
  /* line 847, M:/Sites/9 itunes-istore/sass/media.sass */
  body .music-container .breadcrumbs {
    display: none; }
  /* line 850, M:/Sites/9 itunes-istore/sass/media.sass */
  .filterContent li:nth-child(4) {
    display: none; }
  /* line 854, M:/Sites/9 itunes-istore/sass/media.sass */
  .searchStyles .nav-tabs li {
    min-width: 60px; }
    /* line 856, M:/Sites/9 itunes-istore/sass/media.sass */
    .searchStyles .nav-tabs li a {
      padding: 5px 0px; } }

@media only screen and (min-device-width: 1500px) and (max-device-width: 2048px) {
  /* line 861, M:/Sites/9 itunes-istore/sass/media.sass */
  aside {
    display: none; }
  /* line 863, M:/Sites/9 itunes-istore/sass/media.sass */
  .music-content {
    width: 100%; } }

@media only screen and (-Webkit-min-device-pixel-ratio: 1.5) and (-moz-min-device-pixel-ratio: 1.5) and (-o-min-device-pixel-ratio: 3/2) and (min-device-pixel-ratio: 1.5) {
  /* line 869, M:/Sites/9 itunes-istore/sass/media.sass */
  .header__mainMenu .leftMenu .iconsMenu {
    margin-top: 3px; } }

/*# sourceMappingURL=media.css.map */