/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* line 13, ../sass/media.sass */
  .centerMenu ul {
    text-align: left;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* line 19, ../sass/media.sass */
  .leftMenu {
    display: none;
  }

  /* line 21, ../sass/media.sass */
  .centerMenu {
    display: none;
  }

  /* line 23, ../sass/media.sass */
  .lineToggle {
    height: 50px;
    height: 10vh;
    margin: 0;
    z-index: 1;
    border-bottom: 1px solid #4e4e4e;
    background-color: #fff;
    text-align: center;
  }
  /* line 31, ../sass/media.sass */
  .lineToggle h2 {
    display: inline-block;
    font-size: 18px;
    line-height: 10vh;
    margin: 0;
    color: #4e4e4e;
  }

  /* line 38, ../sass/media.sass */
  #togMenu {
    position: absolute;
    top: 10vh;
    right: 0;
    height: 90vh;
    width: 100%;
    display: none;
    background: #fff;
    color: #999;
    margin: auto;
    text-align: left;
    z-index: 100;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s;
  }
  /* line 54, ../sass/media.sass */
  #togMenu ul {
    display: block;
    padding: 0 0 0 10px;
    margin: 0;
  }
  /* line 58, ../sass/media.sass */
  #togMenu ul li {
    display: block;
    position: relative;
    height: 8vh;
    border-bottom: 1px solid #eee;
  }
  /* line 63, ../sass/media.sass */
  #togMenu ul li:last-child {
    border: none;
  }
  /* line 65, ../sass/media.sass */
  #togMenu ul li img {
    width: 6vh;
    height: 6vh;
    line-height: 8vh;
    display: inline-block;
    margin: 0 10px 0 0;
  }
  /* line 71, ../sass/media.sass */
  #togMenu ul li a {
    display: inline-block;
    line-height: 8vh;
    color: #4e4e4e;
  }
  /* line 76, ../sass/media.sass */
  #togMenu ul li.active a, #togMenu ul li:active a {
    color: #2677C5;
    text-decoration: none;
  }
  /* line 79, ../sass/media.sass */
  #togMenu ul li.active::after, #togMenu ul li:active::after {
    content: " ";
    position: absolute;
    display: block;
    width: 4vh;
    height: 4vh;
    background: url(../img/ico_check.svg) no-repeat;
    background-size: contain;
    top: 2vh;
    right: 1vh;
  }

  /* line 90, ../sass/media.sass */
  #togMenu:after {
    display: none;
  }

  /* line 93, ../sass/media.sass */
  #toggleButton {
    display: block;
    width: 30px;
    height: 28px;
    position: absolute;
    z-index: 999;
    top: 25px;
    right: 10px;
    margin: 0;
  }

  /* line 103, ../sass/media.sass */
  #toggleButton span:after,
  #toggleButton span:before {
    content: " ";
    position: absolute;
    left: 0;
    top: -9px;
  }

  /* line 110, ../sass/media.sass */
  #toggleButton span:after {
    top: 9px;
  }

  /* line 113, ../sass/media.sass */
  #toggleButton span {
    position: relative;
    display: block;
  }

  /* line 117, ../sass/media.sass */
  #toggleButton span,
  #toggleButton span:after,
  #toggleButton span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }

  /* on activation */
  /* line 128, ../sass/media.sass */
  #toggleButton.on span {
    background-color: transparent;
  }

  /* line 131, ../sass/media.sass */
  #toggleButton.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }

  /* line 134, ../sass/media.sass */
  #toggleButton.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }

  /* line 137, ../sass/media.sass */
  #toggleButton.on + #togMenu {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}
/*==========  Mobile First Method  ========== */
@media only screen and (min-width: 320px) {
  /* line 148, ../sass/media.sass */
  section .squareAlbums li a {
    text-decoration-color: inherit;
  }

  /* line 150, ../sass/media.sass */
  .music-container_margin {
    padding: 0 10px;
    margin: 20px auto 0px auto;
  }

  /* line 154, ../sass/media.sass */
  .music-content {
    width: 100%;
  }
  /* line 156, ../sass/media.sass */
  .music-content .seeAll {
    top: 3px;
    right: 0px;
  }
  /* line 159, ../sass/media.sass */
  .music-content .seeAll .caret {
    display: inline-block;
  }
  /* line 162, ../sass/media.sass */
  .music-content .h-title {
    position: static;
    display: block;
    margin: 0;
  }
  /* line 166, ../sass/media.sass */
  .music-content .nav {
    margin-top: 15px;
  }
  /* line 169, ../sass/media.sass */
  .music-content .nav li:first-child {
    margin-left: 0px;
  }

  /* line 179, ../sass/media.sass */
  .music-container_center .squareAlbums {
    white-space: normal;
  }

  /* line 182, ../sass/media.sass */
  .littleSquareAlbums {
    width: 100%;
  }
  /* line 185, ../sass/media.sass */
  .littleSquareAlbums .seeAll {
    top: 5px;
  }
  /* line 187, ../sass/media.sass */
  .littleSquareAlbums .lineList {
    padding: 0;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
  }
  /* line 197, ../sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 100%;
  }
  /* line 200, ../sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column:first-child {
    display: inline-block;
  }

  /* line 211, ../sass/media.sass */
  .inlineCovers ul li {
    margin-right: 10px;
  }

  /* line 215, ../sass/media.sass */
  .SquareAlbums-wrapper .SquareAlbums-wrapper__title {
    margin: 0;
  }

  /* line 222, ../sass/media.sass */
  aside {
    display: none;
  }

  /* line 225, ../sass/media.sass */
  footer {
    margin: 0 auto;
    padding: 20px 15px 10px 15px;
    overflow-x: scroll;
    white-space: nowrap;
  }
  /* line 230, ../sass/media.sass */
  footer ul {
    display: inline-block;
    margin: 0 15px 5px 0;
  }
  /* line 239, ../sass/media.sass */
  footer ul li {
    margin: 0 5px 0 0;
  }
  /* line 242, ../sass/media.sass */
  footer ul li h2 {
    margin: 0;
  }
}
@media only screen and (min-width: 480px) {
  /* line 248, ../sass/media.sass */
  .music-content .h-title {
    position: absolute;
    line-height: 1;
    top: 0;
    display: inline-block;
    margin: 0;
  }
  /* line 257, ../sass/media.sass */
  .music-content .nav li:first-child {
    margin-left: 130px;
  }
}
@media only screen and (min-width: 580px) {
  /* line 264, ../sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 46%;
  }
  /* line 267, ../sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2) {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) {
  /* line 274, ../sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 30%;
  }
  /* line 276, ../sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2), .littleSquareAlbums .lineList .lineList__column:nth-child(3) {
    display: inline-block;
  }

  /* line 279, ../sass/media.sass */
  footer {
    margin: 20px auto 0 auto;
  }
  /* line 281, ../sass/media.sass */
  footer ul {
    display: inline-block;
    width: 20%;
    height: auto;
    overflow-x: auto;
    overflow-y: auto;
    white-space: normal;
  }
  /* line 288, ../sass/media.sass */
  footer ul li {
    display: block;
  }
  /* line 290, ../sass/media.sass */
  footer ul li:first-child {
    margin-bottom: 5px;
  }
}
@media only screen and (min-width: 1000px) {
  /* line 297, ../sass/media.sass */
  .aside__topList .aside__topList__item .buy-menu {
    display: none;
  }
  /* line 300, ../sass/media.sass */
  .aside__topList .aside__topList__item:hover .buy-menu {
    display: block;
  }

  /* line 306, ../sass/media.sass */
  .Carousel .owl-carousel .item img {
    height: 260px;
  }

  /* line 309, ../sass/media.sass */
  .music-container_margin {
    padding: 0 15px;
    margin: 35px auto 0 auto;
  }

  /* line 313, ../sass/media.sass */
  .music-content {
    width: 75%;
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
  }
  /* line 318, ../sass/media.sass */
  .music-content .nav {
    margin-top: 0;
  }

  /* line 325, ../sass/media.sass */
  aside {
    width: 24%;
    display: inline-block;
  }

  /* line 347, ../sass/media.sass */
  .music-content .tab-pane {
    margin-left: -20px;
  }

  /* line 369, ../sass/media.sass */
  .aside__topList .aside__topList__item .buy-menu {
    display: none;
  }
  /* line 372, ../sass/media.sass */
  .aside__topList .aside__topList__item:hover .buy-menu {
    display: block;
  }

  /* line 374, ../sass/media.sass */
  body.darkAlbum-style .album br, body.lightAlbum-style .album br {
    display: none;
  }

  /* line 377, ../sass/media.sass */
  footer {
    padding: 20px 15px 10px 15px;
  }
  /* line 379, ../sass/media.sass */
  footer ul {
    display: inline-block;
    width: 190px;
  }
}
@media only screen and (min-width: 1200px) {
  /* line 384, ../sass/media.sass */
  .music-content {
    width: 80%;
  }

  /* line 387, ../sass/media.sass */
  aside {
    width: 19%;
  }
}
@media only screen and (min-width: 1300px) {
  /* line 391, ../sass/media.sass */
  .music-content {
    width: 80%;
  }

  /* line 396, ../sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    width: 23%;
  }
  /* line 399, ../sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column:first-child, .littleSquareAlbums .lineList .lineList__column:nth-child(2), .littleSquareAlbums .lineList .lineList__column:nth-child(3), .littleSquareAlbums .lineList .lineList__column:nth-child(4) {
    display: inline-block;
  }
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 405, ../sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px;
  }
  /* line 406, ../sass/media.sass */
  .aside__topList .aside__topList__item .priceDropdown {
    display: block;
  }
  /* line 409, ../sass/media.sass */
  .aside__topList .aside__topList__item:hover .priceDropdown {
    display: block;
  }
  /* line 412, ../sass/media.sass */
  .aside__topList .aside__topList__item:first-child {
    padding: 0 0 0 0;
  }

  /* line 416, ../sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px;
  }
}
/* Smartphones (landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* line 433, ../sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px;
  }
  /* line 434, ../sass/media.sass */
  .aside__topList .aside__topList__item .priceDropdown {
    display: block;
  }
  /* line 437, ../sass/media.sass */
  .aside__topList .aside__topList__item:hover .priceDropdown {
    display: block;
  }
  /* line 440, ../sass/media.sass */
  .aside__topList .aside__topList__item:first-child {
    padding: 0 0 0 0;
  }

  /* line 444, ../sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* line 451, ../sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px;
  }
  /* line 452, ../sass/media.sass */
  .aside__topList .aside__topList__item .priceDropdown {
    display: block;
  }
  /* line 455, ../sass/media.sass */
  .aside__topList .aside__topList__item:hover .priceDropdown {
    display: block;
  }
  /* line 458, ../sass/media.sass */
  .aside__topList .aside__topList__item:first-child {
    padding: 0 0 0 0;
  }

  /* line 462, ../sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* line 469, ../sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px;
  }
  /* line 470, ../sass/media.sass */
  .aside__topList .aside__topList__item .priceDropdown {
    display: block;
  }
  /* line 473, ../sass/media.sass */
  .aside__topList .aside__topList__item:hover .priceDropdown {
    display: block;
  }
  /* line 476, ../sass/media.sass */
  .aside__topList .aside__topList__item:first-child {
    padding: 0 0 0 0;
  }

  /* line 480, ../sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px;
  }
}
/* The New iPad (iPad 3) ----------- */
@media only screen and (min-device-width: 1536px) and (max-device-width: 2048px) and (-webkit-min-device-pixel-ratio: 2) {
  /* line 487, ../sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px;
  }
  /* line 488, ../sass/media.sass */
  .aside__topList .aside__topList__item .priceDropdown {
    display: inline-block;
  }
  /* line 491, ../sass/media.sass */
  .aside__topList .aside__topList__item:hover .priceDropdown {
    display: inline-block;
  }
  /* line 494, ../sass/media.sass */
  .aside__topList .aside__topList__item:first-child {
    padding: 0 0 0 0;
  }

  /* line 498, ../sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px;
  }
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* line 505, ../sass/media.sass */
  .aside__topList .aside__topList__item {
    padding-right: 75px;
  }
  /* line 506, ../sass/media.sass */
  .aside__topList .aside__topList__item .priceDropdown {
    display: inline-block;
  }
  /* line 509, ../sass/media.sass */
  .aside__topList .aside__topList__item:hover .priceDropdown {
    display: inline-block;
  }
  /* line 512, ../sass/media.sass */
  .aside__topList .aside__topList__item:first-child {
    padding: 0 0 0 0;
  }

  /* line 516, ../sass/media.sass */
  .priceDropdown .dropdown-menu {
    left: auto;
    right: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  /* line 549, ../sass/media.sass */
  .artistTabInfo__artistbiography {
    display: block;
    width: 100%;
    margin: 20px auto 0 auto;
  }

  /* line 553, ../sass/media.sass */
  .artistTabInfo-sidebar {
    width: 100%;
    margin: 20px auto 0 auto;
    display: block;
  }
}
@media only screen and (max-width: 1000px) {
  /* line 574, ../sass/media.sass */
  .art #Songs > h3, .art #Songs p {
    display: none;
  }
  /* line 576, ../sass/media.sass */
  .art table {
    margin-top: 10px;
  }
  /* line 579, ../sass/media.sass */
  .art table tr:first-child {
    display: none;
  }
  /* line 581, ../sass/media.sass */
  .art table tr td {
    padding: 5px 0;
  }
  /* line 583, ../sass/media.sass */
  .art table tr td:nth-child(3), .art table tr td:nth-child(5) {
    display: none;
  }
  /* line 585, ../sass/media.sass */
  .art table tr td:nth-child(2) {
    width: 68%;
    padding-right: 5px;
  }
  /* line 588, ../sass/media.sass */
  .art table tr td:nth-child(3) {
    width: 10%;
  }
  /* line 590, ../sass/media.sass */
  .art table tr td:nth-child(4) {
    width: 20%;
  }
  /* line 592, ../sass/media.sass */
  .art table tr td:last-child {
    text-align: right;
  }

  /* line 594, ../sass/media.sass */
  body.darkAlbum-style table .buy-menu, body.lightAlbum-style table .buy-menu {
    height: auto;
    padding: 5px 5px;
    width: auto;
    min-width: 90px;
  }
  /* line 599, ../sass/media.sass */
  body.darkAlbum-style table .buy-menu a, body.lightAlbum-style table .buy-menu a {
    width: auto;
    font-size: 16px;
    white-space: nowrap;
  }

  /* line 603, ../sass/media.sass */
  body .music-container .album .buy-menu {
    height: auto;
    padding: 2px 0;
  }

  /* line 606, ../sass/media.sass */
  body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu, body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu, .buy-menu {
    display: inline-block;
    height: auto;
    padding: 5px 10px;
    width: auto;
    min-width: 80px;
  }
  /* line 612, ../sass/media.sass */
  body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu a, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbums .buy-menu a, body.darkAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu a, body.lightAlbum-style .tab-pane:nth-child(3) .squareAlbumsWithPrice .buy-menu a, .buy-menu a {
    width: auto;
    font-size: 16px;
    white-space: nowrap;
  }

  /* line 617, ../sass/media.sass */
  .lineList .buy-menu {
    top: 7px;
  }

  /* line 620, ../sass/media.sass */
  .lineList .lineList__column .lineList__column__block {
    padding-right: 85px;
  }

  /* line 629, ../sass/media.sass */
  .littleSquareAlbums .lineList {
    display: block;
    width: 100%;
    height: 165px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  /* line 636, ../sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column {
    display: inline-block;
    margin: 0 15px 0 0;
    width: 270px;
  }
  /* line 641, ../sass/media.sass */
  .littleSquareAlbums .lineList .lineList__column:last-child {
    margin-right: 10px;
  }

  /* line 644, ../sass/media.sass */
  .music-container_center .toSort {
    display: none;
  }

  /* line 646, ../sass/media.sass */
  .show-more {
    display: inline-block;
  }

  /* line 648, ../sass/media.sass */
  .tooltip {
    display: none;
  }

  /* line 652, ../sass/media.sass */
  body.album-style .tab-content .squareAlbums {
    max-height: none;
    min-height: 210px;
  }
  /* line 656, ../sass/media.sass */
  body.album-style .tab-pane .squareAlbums {
    margin: 0 0 10px 0;
  }
  /* line 658, ../sass/media.sass */
  body.album-style .tab-pane .littleSquareAlbums {
    margin-top: 20px;
  }

  /* line 663, ../sass/media.sass */
  section .squareAlbums, section .squareAlbumsWithPrice {
    display: inline-block;
    white-space: nowrap;
    height: 180px;
    overflow-y: hidden;
    overflow-x: scroll;
  }
  /* line 673, ../sass/media.sass */
  section .squareAlbums li, section .squareAlbumsWithPrice li {
    display: inline-block;
  }
  /* line 680, ../sass/media.sass */
  section .two-lines li:first-child {
    margin-left: 0;
  }
  /* line 682, ../sass/media.sass */
  section .squareAlbumsWithPrice {
    height: 215px;
  }

  /* line 686, ../sass/media.sass */
  body .ArtistBackgroundImage {
    top: 10vh;
  }
  /* line 689, ../sass/media.sass */
  body .music-container .breadcrumbs {
    top: -25px;
  }
  /* line 691, ../sass/media.sass */
  body .music-container .album {
    position: relative;
    width: 100%;
    display: block;
    min-height: 0;
  }
  /* line 696, ../sass/media.sass */
  body .music-container .album > a {
    display: inline-block;
    vertical-align: top;
  }
  /* line 700, ../sass/media.sass */
  body .music-container .album > a img {
    width: 140px;
    height: 140px;
    margin: 0;
  }
  /* line 704, ../sass/media.sass */
  body .music-container .album .albumLinksContainer {
    display: inline-block;
    margin-left: 5px;
  }
  /* line 708, ../sass/media.sass */
  body .music-container .album .albumLinksContainer a h3, body .music-container .album .albumLinksContainer a h2 {
    display: inline-block;
    vertical-align: top;
    margin: 5px 0;
  }
  /* line 712, ../sass/media.sass */
  body .music-container .album .albumLinksContainer a .caret {
    display: inline-block;
    line-height: inherit;
    margin: 6px 0 0 7px;
  }
  /* line 716, ../sass/media.sass */
  body .music-container .album .buy-menu {
    display: inline-block;
    position: absolute;
    width: 120px;
    top: auto;
    left: auto;
    bottom: 20px;
    right: 10px;
  }
  /* line 725, ../sass/media.sass */
  body .music-container .album p {
    display: inline-block;
    margin: 20px 0 5px 0;
    border: none;
    padding: 0;
  }
  /* line 730, ../sass/media.sass */
  body .music-container .art {
    display: block;
    width: 100%;
    padding: 0;
  }
  /* line 735, ../sass/media.sass */
  body .music-container .art .art__content > a, body .music-container .art .art__content br {
    display: none;
  }
  /* line 737, ../sass/media.sass */
  body .music-container .art .nav {
    display: block;
    width: 280px;
    margin: 15px auto 10px auto;
    text-align: center;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    overflow: hidden;
  }
  /* line 745, ../sass/media.sass */
  body .music-container .art .nav li {
    margin: 0;
    width: 33%;
    padding: 0;
  }
  /* line 749, ../sass/media.sass */
  body .music-container .art .nav li a {
    padding: 5px;
  }

  /* line 751, ../sass/media.sass */
  body.darkAlbum-style .nav-tabs li.active, body.lightAlbum-style .nav-tabs li.active {
    border-style: none;
    border-radius: 0px;
  }

  /* line 754, ../sass/media.sass */
  body.darkAlbum-style footer, body.lightAlbum-style footer {
    margin-top: 50px;
  }

  /* line 759, ../sass/media.sass */
  body .music-container .album .albumLinksContainer a, body .music-container .album .albumLinksContainer h2 {
    font-size: 15px;
  }
  /* line 761, ../sass/media.sass */
  body .music-container .album .albumLinksContainer p {
    font-size: 13px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 768, ../sass/media.sass */
  .music-container_center .nav-tabs {
    top: 150px;
  }
  /* line 770, ../sass/media.sass */
  .music-container_center .artist-list-tag > li {
    margin: 0 16px 0 0;
  }
  /* line 772, ../sass/media.sass */
  .music-container_center .breadcrumbs {
    top: 100px;
  }
  /* line 774, ../sass/media.sass */
  .music-container_center .tab-content .tab-pane > p, .music-container_center h3 {
    margin-top: 40px;
  }
  /* line 776, ../sass/media.sass */
  .music-container_center aside {
    padding-left: 0;
  }
}
@media only screen and (max-width: 480px) {
  /* line 781, ../sass/media.sass */
  .music-container_center .nav-tabs {
    top: 80px;
    right: 0px;
  }
  /* line 784, ../sass/media.sass */
  .music-container_center .artistTabInfo-sidebar__ul li p {
    padding-right: 20px;
  }

  /* line 786, ../sass/media.sass */
  body .music-container .album > a img {
    width: 100px;
    height: 100px;
  }

  /* line 789, ../sass/media.sass */
  body .music-container .album .buy-menu {
    right: 0px;
    bottom: -30px;
  }

  /* line 792, ../sass/media.sass */
  body .music-container .album .albumLinksContainer a h3, body .music-container .album .albumLinksContainer a h2 {
    margin: 0;
  }

  /* line 794, ../sass/media.sass */
  body .music-container .album .albumLinksContainer a .caret {
    margin-top: 1px;
  }

  /* line 796, ../sass/media.sass */
  body .music-container .album p {
    margin-top: 0;
  }

  /* line 798, ../sass/media.sass */
  body .music-container .breadcrumbs {
    display: none;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  /* line 802, ../sass/media.sass */
  .breadcrumbs {
    display: none;
  }

  /* line 805, ../sass/media.sass */
  .buy-menu .buy-menu__link {
    display: inline-block;
    width: 100%;
  }
  /* line 808, ../sass/media.sass */
  .buy-menu .priceDropdown {
    display: none;
  }
}
@media only screen and (-Webkit-min-device-pixel-ratio: 1.5) and (-moz-min-device-pixel-ratio: 1.5) and (-o-min-device-pixel-ratio: 3 / 2) and (min-device-pixel-ratio: 1.5) {
  /* line 824, ../sass/media.sass */
  .header__mainMenu .leftMenu .iconsMenu {
    margin-top: 3px;
  }
}
